<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="6" android:versionName="1.5" package="com.samorme.pixelpuzzle" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="28" />
	<application android:label="Pixel Puzzle" android:icon="@mipmap/icon">
		<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-1992270298763477~2946433905" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>